@import url(http://fonts.googleapis.com/css?family=Roboto:700);


*{
	padding:0px;
	margin:0px;

}


body{
	width:100%;	
	margin:0px;
	height:auto;
	
}

body h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
}



div p{
	font-family:"Courier New", Courier, monospace;
	font-size:20px;
	
	
}


#container{
	
	max-width:1000px;
	background:white;
	padding:0px 20px;
	margin-left:200px;
	margin-right:200px;
	margin-top:-10px;
	border-radius:10px;
	width:100%;
	
}




li{
	display:inline;
}

li a{
	
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font:white;
}

#header{
	max-height:100%;
	background:#333333;
	width:100%;
}

.navibar{
	
	list-style-type:none;
	float:right;
	clear:both;
	margin-top:-30px;
	
}

.navibar li{
	padding: 35px;

}
.navibar li a{
	font-size:25px;
	color:white;

}

.top-navibar{
	margin-left: auto;
    margin-right: auto;
    max-width:100%;
 	max-height:100%;

}

#logo{
	max-width:100%;


}

/*
	SLIDE
	*/


#slider{
	width:auto;
	height:500px;
	margin-top:25px;
}

#slippry-demo{
	margin-left:25%;
}


#slippry-demo img{
	height:100%;
	width:50%;

}

#slippry-demo .caption{
	background:rgba(255,255,255,.5);
	position: absolute;
	margin-top:-50px;
	width:auto;
	text-align:center;
	margin-left:10%;
}

#slippry-demo p{
	font:17px bold;
}


#slippry-demo h3{
	text-align:center;
}


	
	
#title{
	color: white;
	
}

#caption{
	color: white;
}
	
/*about*/
#page1{ 
	height:500px;
	background:rgb(43, 127, 196);
	background-position:center;
	width:100%;
	border-bottom:5px solid black;

}


#page1 h3{ /*about title*/
	font-size:50px;
	color: white;
	font-family:'Roboto';
	padding-top:50px;
	text-align:center;

	
}

#page1 h4{ /*caption*/
	font-size:35px;
	padding-top:75px;
	text-align:center;
}

.button{
	display:inline-block;
	width:150px;
	height:50px;
	background:#FF9966;
	text-decoration:none;
	color:white;
	text-align:center;
	padding-top:25px;
	font-size:25px;
	font-weight:bold;
	border-radius:15px;
	
}
#resume-button{
	margin-top:20px;
	text-align:center;
	width:100%;
}

/*art*/
#page2{
	height:750px;
	background:rgba(216, 133, 83,.7);
	width:100%;
	
}

#page2 h3{
	font-size:50px;
	font: white;
}

#gallery{
	background:white;
    margin-left: auto;
    margin-right: auto;
	padding:25px 10px;
	display:block;
	width:75%
}

#gallery a{
	height:30%;
	width:30%;
}

#gallery>*{
	text-align:center;
}

/*contact*/

#footer{
	background:#333333;
	height:320px;

}

#footer #title{
	text-align:center;
	font-size:32px;
	color:white;
	padding-top:35px;
}

#footer p{
	color:white;	
	padding-right:10px;
	text-align:center;
	margin-top:20px;
}

