@import url(http://fonts.googleapis.com/css?family=Roboto:700);


*{
	padding:0px;
	margin:0px;

}



body{
	width:100%;	
	margin:0px;
	height:auto;
	
}

body h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
}


div p{
	font-family:"Courier New", Courier, monospace;
	font-size:20px;
}

#container{
	
	max-width:1000px;
	background:white;
	padding:0px 20px;
	margin-left:200px;
	margin-right:200px;
	margin-top:-10px;
	border-radius:10px;
	width:100%;
	
}



#title{ 
	font-size:50px;
	color: black;
	font-family:'Roboto';
	padding-top:25px;
	text-align:center;

	
}


/*****HEADER*****/


#header{
	max-height:100%;
	background-image:url('Image/city.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:2000px;
	background-attachment:fixed;
	width:100%;
}



#top-header{
	padding-top:15px;
	height:700px;
	text-align:center;

}

#top-header img{
	width:250px;
	height:250px;
	margin: 120px;
}


/*NAVIBAR*/

li{
	display:inline;
}

li a{
	
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font:white;
}


.navibar{
	
	list-style-type:none;
	float:right;
	clear:both;
	margin-top:-30px;
	background:black;
	width:100%;
	text-align:center;
}

.navibar li{
	padding: 35px;
	

}
.navibar li a{
	font-size:25px;
	color:white;

}

.top-navibar{
	margin-left: auto;
    margin-right: auto;
    max-width:100%;
 	max-height:100%;
	background:black;

}




/*
	SLIDE
	*/


#slider{
	width:auto;
	height:500px;
	margin-top:25px;
}

#slippry-demo{
	margin-left:25%;
}


#slippry-demo img{
	height:100%;
	width:50%;

}

#slippry-demo .caption{
	background:rgba(255,255,255,.5);
	position: absolute;
	margin-top:-50px;
	width:auto;
	text-align:center;
	margin-left:10%;
}

#slippry-demo p{
	font:17px bold;
}


#slippry-demo h3{
	text-align:center;
}


	

#caption{
	color: white;
}
	
/*about*/
#page1{ 
	max-height:1000px;
	width:100%;
	padding-top:150px;
	padding-bottom:150px;
	border-bottom:1px solid rgb(252, 204, 152)




}

#profile-wrapper{
	text-align:center;
	margin-bottom:20px;
}



#profile-pic{
	width:275px;
	height: 275px;
	
}



#page1 h4{ /*caption*/
	font-size:35px;
	padding-top:75px;
	text-align:center;
}

.button{
	display:inline-block;
	width:150px;
	height:50px;
	background:#FF9966;
	text-decoration:none;
	color:white;
	text-align:center;
	padding-top:25px;
	font-size:25px;
	font-weight:bold;
	border-radius:15px;
	
}
#resume-button{
	margin-top:20px;
	text-align:center;
	width:100%;
}



#billboard{
	height:250px;
	width:100%;
	background-image:url('Image/masked-sheep.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size:1500px;
	border-top: 10px black solid;
	border-bottom:10px solid black;
}

#billboard h3{
	color:#FF6600;
	font-size:35px;
}

/*art*/
#page2{
	max-height:1000px;
	width:100%;
	border-bottom:1px solid rgb(252, 204, 152);
	padding-top:150px;
	padding-bottom:150px;
	
	
}

#page2 img{
	height:50%;
	width:50%;
}


#portfolio-panel1{
	width:50%;
	height:50%;
}

#portfolio-panel2{
	width:50%;
	height:50%;
	margin-top:10px;
}


#page2 div div *{
	text-align:center;
}


/*page3*/
#page3{
	max-height:1000px;
	width:100%;
	padding-top:150px;
	padding-bottom:150px;
}


/*contact*/

#footer{
	background:#333333;
	height:320px;

}

#footer #title{
	text-align:center;
	font-size:32px;
	color:white;
	padding-top:35px;
}

#footer p{
	color:white;	
	padding-right:10px;
	text-align:center;
	margin-top:20px;
}

