vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Aug 2014 15:37:04 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|HOMA\\homar_000
vti_modifiedby:SR|HOMA\\homar_000
vti_timecreated:TR|14 Jul 2014 02:08:21 -0000
vti_backlinkinfo:VX|Web\\ Design\\ Class/Final\\ Project/timcampix.github.io/Trash/index.html
vti_cacheddtm:TX|18 Aug 2014 15:37:03 -0000
vti_filesize:IR|2872
vti_cachedlinkinfo:VX|Q|http://fonts.googleapis.com/css
vti_cachedsvcrellinks:VX|NQHS|http://fonts.googleapis.com/css
vti_nexttolasttimemodified:TR|14 Jul 2014 02:08:21 -0000
