vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|18 Aug 2014 15:33:20 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|HOMA\\homar_000
vti_modifiedby:SR|HOMA\\homar_000
vti_timecreated:TR|20 May 2014 15:08:57 -0000
vti_backlinkinfo:VX|Web\\ Design\\ Class/Final\\ Project/timcampix.github.io/about.html
vti_nexttolasttimemodified:TW|18 Aug 2014 15:33:20 -0000
vti_cacheddtm:TX|18 Aug 2014 15:33:20 -0000
vti_filesize:IR|2315
vti_cachedlinkinfo:VX|S|Image/rutgers-generic.jpg S|Image/rons.gif S|Image/eye-tracking.jpg
vti_cachedsvcrellinks:VX|FSUS|Web\\ Design\\ Class/Final\\ Project/timcampix.github.io/Image/rutgers-generic.jpg FSUS|Web\\ Design\\ Class/Final\\ Project/timcampix.github.io/Image/rons.gif FSUS|Web\\ Design\\ Class/Final\\ Project/timcampix.github.io/Image/eye-tracking.jpg
