vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Aug 2015 00:35:12 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|HOMA\\homar_000
vti_modifiedby:SR|HOMA\\homar_000
vti_timecreated:TR|07 Aug 2015 00:51:27 -0000
vti_backlinkinfo:VX|Template/VIDEO\\ n\\ PARALLAX/index.html timcampix.github.io/index.html
vti_nexttolasttimemodified:TW|11 Aug 2015 00:34:56 -0000
vti_cacheddtm:TX|11 Aug 2015 00:34:56 -0000
vti_filesize:IR|5330
vti_cachedlinkinfo:VX|Q|http://fonts.googleapis.com/css S|https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png S|../Template/VIDEO\\ n\\ PARALLAX/Images/sparkly-background.png S|../Template/VIDEO\\ n\\ PARALLAX/Images/floaty-me.png S|../Template/VIDEO\\ n\\ PARALLAX/Images/floaty-obasan.png S|../Template/VIDEO\\ n\\ PARALLAX/Images/floaty-dog.png S|beautiful\\ computer\\ desk\\ 2.jpg S|Image/HTbackgroundicon.png
vti_cachedsvcrellinks:VX|NQHS|http://fonts.googleapis.com/css NSSS|https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png FSUS|Template/VIDEO\\ n\\ PARALLAX/Images/sparkly-background.png FSUS|Template/VIDEO\\ n\\ PARALLAX/Images/floaty-me.png FSUS|Template/VIDEO\\ n\\ PARALLAX/Images/floaty-obasan.png FSUS|Template/VIDEO\\ n\\ PARALLAX/Images/floaty-dog.png FSUS|timcampix.github.io/beautiful\\ computer\\ desk\\ 2.jpg FSUS|timcampix.github.io/Image/HTbackgroundicon.png
